/* ======================================== 
Google Fonts 
======================================== */
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Just+Me+Again+Down+Here&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap");

/* ======================================== 
Imported CSS 
======================================== */
@import url(/assets/CSS/responsive_nav.css);
@import url(/assets/CSS/buttons.css);
@import url(/assets/CSS/responsive.css);

/* ======================================== 
CSS Reset 
======================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--body-ff);
    color: var(--dark-grey);
    background-color: var(--white);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ======================================== 
Root Variables 
======================================== */
:root {
    /* Typography */
    --heading-ff: "Shadows Into Light", sans-serif;
    --body-ff: "Raleway", sans-serif;

    /* Colors */
    --primary-purple: #3f41a6;
    --light-purple: #8789fb;
    --secondary-purple: #1a093c;
    --white: #faf9f6;
    --dark-grey: #2e323b;
    --light-grey: #61646b;

    /* Spacing */
    --spacing-lg: 2rem;
    --spacing-md: 1rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ======================================== 
Reusable CSS Classes 
======================================== */
